.scroll-style::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background-color: #DDD;
}

.scroll-style::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
}

.active {
    color: #5a67d8;
}